/* *{
  border: 1px solid gold;
} */

body{
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.main{
  border: 0px;
  padding: 0px;
}

.header{
  display: inline-block;
  width: 100vw;
  background: #303030;
  padding: 0px;
  border: 0px;
  border-left: -5px;
  align-items: center;
  padding: 1vh 0;
}

.header a{
  color: ghostwhite;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  margin-left: 10vw;
}

.header a:hover{
  color: grey;
}

.header img{
  width: 25px;
  height: 25px;
}

.mac{
  display: grid;
  grid-template-columns: 75vw 25vw;
  border-bottom: 2px solid grey
}

.macItems{
  display: grid;
  grid-template-columns: 5vw 5vw 10vw 5vw;

}

.macItems a{
  margin-left: 2vw;
  margin-top: 20px;
}

.inchButtons{
  padding: 10vh 40vw;
  border-bottom: 2px solid grey
}

.inchButtons button{
  background: none;
  padding: 15px 25px;
  color: grey;
  border-radius: 5px;
  margin-left: 25px;
  border: 1px solid grey;
}

.inchButtons button:active, .inchButtons button:focus{
  border: solid	#0000FF;
  box-shadow: none;
}

.computer{
  height: 25vh;
  border-bottom: 2px solid grey
}

.computer img{
  width: 150px;
  height: 150px;
  margin-top: 50px;
  margin-left: 200px;
}

.touch{
  height: 15vh;
  display: grid;
  grid-template-columns: 35vw 25vw;
  border-bottom: 2px solid grey;
  margin-top: 50px;
}

.price{
  height: 15vh;
  display: grid;
  grid-template-columns: 35vw 15vw 15vw 15vw 15vw;
  border-bottom: 2px solid grey;
  margin-top: 50px;
}

.price li{
  list-style-type: none;
  display: inline;
}

.finish{
  display: grid;
  grid-template-columns: 35vw 7vw auto;
  grid-template-rows: auto auto;
  border-bottom: 2px solid grey;
  margin-top: 50px;
}

.finish h2{
  grid-row-start: 1;
  grid-column-start: 1;
}

.finish img{
  width: 250px;
  height: 125px;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 2
}

.finish li{
  list-style-type: none;
}

#c1{
  grid-row-start: 2;
  grid-column-start: 2;
}

#c2{
  grid-row-start: 2;
  grid-column-start: 3;
}

.display{
  display: grid;
  grid-template-columns: 25vw auto;
  border-bottom: 2px solid grey
}

.display h2{
  grid-column-start: 1;
}

.displayInfo{
  grid-column-start: 2;
}

.displayInfo dd{
  margin-left: 0px;
  margin-top: 5px;
}

.processor{
  display: grid;
  grid-template-columns: 25vw 50vw auto;
  grid-template-rows: auto auto;
  border-bottom: 2px solid grey
}

.processor h2{
  grid-row-start: 1;
  grid-column-start: 1;
}

#p1{
  grid-row-start: 1;
  grid-column-start: 2;
}

#p2{
  grid-row-start: 1;
  grid-column-start: 3;
}

#p3{
  grid-row-start: 2;
  grid-column-start: 2;
}

#p4{
  grid-row-start: 2;
  grid-column-start: 3;
}

.storage{
  display: grid;
  grid-template-columns: 25vw 15vw 15vw 15vw 15vw;
  grid-template-rows: auto auto auto;
  border-bottom: 2px solid grey
}

.storage h2{
  grid-row-start: 1;
  grid-column-start: 1;
}

.storage li{
  list-style: none;
  border-radius: 2px;
  border: 3px solid orange;
  color: orange;
  width: 60px;
  height: 25px;
  text-align: center;
}

#sTag1{
  grid-row-start: 1;
  grid-column-start: 2;
}

#sTag2{
  grid-row-start: 1;
  grid-column-start: 3;
}

#sTag3{
  grid-row-start: 1;
  grid-column-start: 4;
}

#sTag4{
  grid-row-start: 1;
  grid-column-start: 5;
}

#sInfo1{
  grid-row-start: 2;
  grid-column-start: 2;
}

#sInfo2{
  grid-row-start: 2;
  grid-column-start: 3;
}

#sInfo3{
  grid-row-start: 2;
  grid-column-start: 4;
}

#sInfo4{
  grid-row-start: 2;
  grid-column-start: 5;
}

#sInfo5{
  grid-row-start: 3;
  grid-column-start: 2;
  width: 5vw;
}

#sInfo6{
  grid-row-start: 3;
  grid-column-start: 3;
  width: 5vw;
}

#sInfo7{
  grid-row-start: 3;
  grid-column-start: 4;
  width: 5vw;
}

#sInfo8{
  grid-row-start: 3;
  grid-column-start: 5;
  width: 5vw; 
}
